.slide.orange 
	.row
		.small-7.large-7.columns
			%img{height: "200", src: "logo_fabriq_blanc.png", width: "200"}/
			%p.grand Soyez reconnu pour vos Compétences et créez vous des opportunités
		.small-5.large-5.columns
			%iframe.video-prez{allowfullscreen: "", frameborder: "0", height: "100%", mozallowfullscreen: "", src: "http://player.vimeo.com/video/35804890?title=0&byline=0&portrait=0", webkitallowfullscreen: "", width: "100%"}
			%a.radius.button{"data-reveal-id" => "myModal", href: "#"} Commencez le processus, c'est gratuit
			= render "skills/new"

