= render "pv_form"
= render "explanation"
/ = render "skills_value"
/ = render "skills_map"
/ = render "testimony"


%ol.joyride-list{"data-joyride" => ""}
	%li{"data-id" => "logo", "data-options" => "tip_location: top", "data-text" => "Next"}
		%p Hello and welcome to the Joyride documentation page.
	%li{"data-class" => "reveal-modal", "data-id" => "numero1", "data-text" => "Next"}
		%h4 Stop #1
		%p You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.
	


  