
.map-bckgrd {
	background: url(/est_parrisien.png);
	padding-top: 5%;
		}
.transbox
  {
  opacity:0.6;
    }
.video-prez{
	margin-top: 33%,
}
.diagram{
	border: 0px;
	padding: 0px;
	max-width: 80rem;
}
.diagram-legend{
	margin-top: 1%;
	border: 0px;
	padding: 0px;
	max-width: 80rem;
}
.diagram-plus{
	margin-top: 20%;
}
.diagram-tissu{
	margin-top: 5%;
}
.diagram-other{
	margin-top: 3%;
}