// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#titre{
	padding-top:15px;
	font-size: 2em;
}

#annonce{
	margin-top:60px;
	margin-bottom:40px;
}

#video{	
	padding-top:75px;
}
#fabcompetences{
	padding-top:65px;
	}
#fabcompetences p{
	margin-top: 0.4em;
	margin-bottom:0.5em;
	line-height: 1.1;
}
#deuxieme_partie {
	margin-top: 50px;	
	margin-bottom: 35px;
}	
#reseau_sociaux{
	padding-top:75px;
	}
#reseau_sociaux p{
	margin-top: 0.4em;
	margin-bottom:0.5em;
	line-height: 1.1;
}
#logo-rs1{
	text-align: right;
	padding-right: 15px;
}
#logo-rs2{
	text-align: left;
	padding-left: 15px;
}
#rs-texte{
	margin-bottom:60px;
}
.box{
	text-align: left;
	margin-top: 60px;
	margin-bottom: 40px;
}

#projet_associatif{
	padding-top: 110px;
}
#rapport {
	margin-top: 80px;
	margin-bottom: 60px;
}
#contact {
	padding-top: 150px;
	
}
#rdv {
	padding-bottom: 100px;
}

#bandeau{
	position:fixed;
	top: 0;
	width:100%;
	z-index: 2000;
	background-color: white;
	padding: 3px;
	margin: 0px;
	height: 36px;
	
}
#bandeau p{
	font-weight: bold;
	line-height: 30px;
}
#contenu-bandeau{
	height: 36px;
}

#texte-bandeau-petit{
	line-height: 30px;
	font-size: 0.9em;
}
#texte-bandeau-grand{
	font-size: 1.5em;
}
#logo-FB{
	padding-left: 0px;
}

.orange{
	background-color: rgba(255, 102, 0, 1);
}

.vert{
    background-color: rgba(57, 210, 5, 1);
}
.map-bckgrd {
	background: url(/est_parrisien.png);
		}
.transbox
  {
  opacity:0.6;
    }

.slide{
	position: relative;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.slide p{
	color: white;
}
.grand{
	font-size: 3em;
}
.moyen{
	font-size: 2em;
}
.petit{
	font-size: 1.5em;
}
.trespetit{
	font-size: 0.75em;
}

