#bandeau
  .row
    .small-12.large-6.large-centered.columns
      .row.collapse
        #contenu-bandeau
          #texte-bandeau.small-8.columns
            %strong#texte-bandeau-petit.show-for-small-only.hide-for-medium-up Suivez et Likez-nous
            %strong#texte-bandeau-grand.show-for-medium-up Suivez et Likez-nous
          #logo-FB.small-4.columns
            %a.heightfix{href: "https://www.facebook.com/lafabriq20"}
              %img.heightfix{height: "30", src: "Logo_FACEBOOK.png", width: "30"}/
            %a.heightfix{href: "https://twitter.com/lafabriqnet"}
              %img.heightfix{height: "30", src: "Logo_TWITTER.png", width: "30"}/